/* Styling for multiple sections or the document as a whole */
* {
  box-sizing: border-box;
}

header, nav, main, footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header, footer {
  background-color: blue;
  text-align: center;
}

/* Styling for sections of the header */
header {
  display: flex;
  color: white;
  justify-content: center;  
  padding: 1.25rem;
}

.headertext {
  font-size: 30px;
  padding-left: 40px;
}

/* Styling for sections of the footer */
footer {
  padding: .1rem;
}

#currentyear {
  color: white;
}
  
#lastmodified {
  color: lawngreen;
}
  