/* CSS styling that takes place in tablet-sized views */
@media only screen and (min-width: 37.5em) {
    main, footer {
        font-size: 1rem;
    }

    header, footer {
        border-radius: 10px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    section {
        border-radius: 10px;
    }

    main section:nth-child(3){
        grid-column: span 2;
    }

    h3 {
        border-radius: 10px 10px 0px 0px;
    }

    .headertext {
        font-size: 30px;
    }
}
