* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main, footer {
    font-size: 0.8rem;
}

header, footer {
    background-color: #0000FF;
    text-align: center;
    color: #FFFFFF;
}

header {
    /* display: flex; */
    justify-content: center;  
    padding: 1rem;
}

main section img {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
}

.headertext {
    font-size: 25px;
}

main {
    display: grid;
    grid-gap: 10px;
    margin: 0px 5px;
}

main section div p, main section div a {
    padding: 5px;
}

main section span {
    border-radius: 10px 10px 0px 0px;
	display: block;
	padding: 5px;
	background-color: #000000;
	color: #FFFFFF;
    text-align: center;
}

.columnhead {
    border-radius: 10px 10px 0px 0px;
	display: block;
	padding: 5px;
	background-color: #000000;
	color: #FFFFFF;
    text-align: center;
}

/* Added */
div.columncontent {
    margin-left: 20px;
    padding-bottom: 20px;
}

section {
    background-color: #DCDCDC;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
}

footer {
    padding: .1rem;
}

a:link {
    color: #0000FF;
}
a:visited {
    color: #551A8B;  
}