div{
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 1em;
}

h1{
	max-width: 500px;
	text-align: center;
	margin: 2em auto;	
}

img[data-src] {
	filter: blur(0.5em);
}

img{
	filter: blur(0);
	transition: filter 1s;
}
