* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 2rem;
    background-color: #000000;
    border-radius: 1rem;
    padding: 1rem;
}

section>p {
    padding: .5rem;
}

img {
    max-width: 90%;
    height: auto;
    margin: .5rem;
}

/* DUPLICATE ENTRY */
img {
	filter: blur(0);
	transition: filter 1s;
}

img[data-src] {
	filter: blur(0.5rem);
}

/* Multipage code */

.headings, .footerinfo {
    display: flex;
    align-items: center;
}

.headings span, footer span {
    font-size: 1rem;
    display: block;
} 

.navigation a, .responsive, a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

#meetandgreet {
    width: 100%;
    display: none;
    padding: 1rem;
}

.logo img {
    width: 75px;
    max-width: none;
}

.social img, .footercontact img {
    width: 35px;
}

.social a {
    padding: .2rem;
}

nav {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0 auto;
    max-width: 760px;
}

.navigation {
    list-style: none;
}

.navigation li:first-child {
    display: block;
}

.navigation a {
    display: block;
    text-decoration: none;
    text-align: center;
}

li>a {
    font-size: 1.5rem;
}

.responsive {
    background-color: #000000;
    border: 1px solid rgba(0,0,0,.4);
    opacity: 0.8;
    width: 200px;
}

.responsive a {
    padding-top: 1rem;
}

.responsive li {
    display: block;
}

.date {
    margin: 0.5rem;
    padding: 1rem;
    display: block;
}

footer {
    display: grid;
    gap: .75rem;
    padding: 1rem;
    justify-content: center;
}

footer h3 {
    margin: 0;
}

#footercopyright {
    border-top: #0D350D 1px solid;
    padding: 1rem;
}

/* Style rules */

.blackbackground {
    background-color: #000000;
    color: #FFFFFF;
    padding: 1rem;
}

.coloredborder {
    border: 1px solid rgba(0,0,0,.4);
}

.greenbackground {
    background-color: #0D350D
}

.hide, .lists .card img {
    display: none;
}

.roundedborders {
    border-radius: 10px;
}

.underline a {
    text-decoration: underline;
}

a:hover, button:hover, input:hover, textarea:hover {
    font-weight: 700;
}

a:hover, button:hover, .required {
    color: #FAC000;
}

.leftalign {
    text-align: left;
}

.twocol {
    grid-column: 1/3;
}

.italics {
    font-style: italic;
}

.tworemfont {
    font-size: 2rem;
}

.big {
    width: 1.05rem;
    height: 1.05rem;
}

.dismiss {
	cursor: default;
}

/* Main */

.maingrid {
    display: grid;
    gap: .75rem;
    padding: 1rem;
}

#event {
    background-image: url("../images/market.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#hero {
    display: grid;
    position: relative;
    z-index: -1;
}

.heroimage {
    grid-row: 1/3;
}

.herotextoverlay {
    position: absolute;
    top: 10px;
    justify-self: center;
}

#herojoin {
	background: #000000;
	padding: 1rem;
    position: absolute;
    bottom: 31px;
    justify-self: center;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#join {
    display:none;
}

#weatherboxes {
    display: grid;
    text-align: right;
    font-size: 1.5rem;
    padding: .5rem;
}

.weathertext {
    border-bottom: rgba(0,0,0,.4) 1px solid;
    margin: 1rem;
}

.temperaturetext {
    font-size: 1.5rem;
    text-align: center;
    margin: auto 0;

}

#spotlight {
    display: grid;
    gap: .3rem;
    grid-template-columns: 1fr;
}

#spotlight>section {
    padding: 1rem;
}

#spotlight>section:nth-child(3) {
    display: none;
}

#spotlight section span {
    border-bottom: rgba(0,0,0,.4) ;
}

/* Discover */
.stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.discover {
    padding: 1rem;
    display: grid;
    z-index: -1;
}

.discover picture {
    justify-content: center;
}

.discover p {
    padding-bottom: 1rem;
    line-height: 1.6;
}

.discover picture p {
    padding: 1rem;
}

/* Join */
form {
    padding: 1rem;
    margin: .5rem auto;
}

fieldset {
    margin: 1rem;
    padding: .5rem 2%;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-bottom: 1rem;
    font-size: .8rem;
}

form label.top input, form label.top select, textarea {
    color: #000000;
    background-color: #FFFFFF;
    width: 100%;
    padding: .75rem;
    display: block;
    border-radius: 4px;
}

form label.top input, form label.top select {
    max-width: 50rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}

form input.submitBtn {
    border: none;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required, textarea:required, select:required {
    border-left: #ff0000 solid 6px;
}

form label.top input:required:valid, textarea:valid, select:valid {
    border-left: #3ACF3A solid 6px;
}

/* Thanks */
.thanks {
    padding: 2rem;
    max-width: 50rem;
    margin: .5rem auto;
}    

/* Directory */

.gridbuttons {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

.gridbuttons button {
    padding: .75rem;
    margin: 1rem;
}

#directoryheader {
    grid-column: 1/4;
    padding: .5rem;
    margin: 1rem;
}

.cards {
    grid-column: 1/4;
    display: grid;
}

.cards .card {
    align-items: center;
    margin: .5rem;
    padding: 1rem;
}

.cards .card img{
    max-width: 200px;
    box-shadow: 5px 10px 18px #000000;
    margin: 1rem;
}

.grids {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grids .card {
    display: flex;
    flex-direction: column;
}

.lists .card {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lists h3, .lists p, .lists a {
    font-size: 1rem;
}

/* Contact */

.contactgrid>div {
    padding: .5rem;
    margin: .5rem;
}

.contactjoin p {
    padding: 1rem;
}

.formaddress p {
    padding: 0;
    text-align: center;
}