@media only screen and (min-width: 70rem) {

    .maingrid {
        grid-template-columns: 1fr 2fr 1fr;
        margin: 0 auto;
    }

    .social {
        grid-column: 3/4;
    }

    .social img, .footercontact img {
        width: 48px;
    }

    nav {
        grid-column: 2;
        grid-row: 1;
        position: relative;
    }
    
    .navigation {
        display: flex;
        width: auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        margin-right: 1rem;
    }

    .date {
        grid-column: 1/4;
    }

    #herojoin {
        bottom: 100px;
    }

    /* Main */

    #hero {
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/3;
        grid-template-columns: 1fr;
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #spotlight {
        grid-column: 3;
        grid-row: 1 / 4;
        grid-template-columns: 1fr;
    }
        
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #spotlight>section:nth-child(3) {
        display: block;
    }    

    /* Contact */
    
    .contactgrid {
        display: grid;
        gap: .75rem;
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}