@media only screen and (min-width: 35em) {
 
    picture {
        height: auto;
    }

    a img {
        width: 40px;
    }
    

    .navigation {
        justify-content: right;
        width: 125px;

    }

    .responsive {
        position: relative;
    }    

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hero {
        grid-column: 1 / 4;
    }
    

    #news {
        grid-column: 1 / 4;
        grid-row: 2;
        height: 100%;
    }

    #spotlight {
        grid-column: 1 / 4;
        grid-row: 3;
        grid-template-columns: 1fr 1fr;
    }
        
    #join {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #join p {
        bottom: 10px;
    }

    #event {
        grid-column: 1 / 3;
        grid-row: 5;
        display: flex;
    }

    footer {
        grid-template-columns: 150px 1fr 1fr;
    }

    .footeraddress {
        text-align: left;
    }

    #footercopyright {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    /* Discover */
    .stat {
        grid-column: 1/3;
    }


    .discover {
        grid-column: 3/4;
        grid-row: 1/5;
    }

    /* Join */
    .joinform {
        grid-column: 1/6;
        max-width: 60rem;
    }

    
    .formgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }


    /* Discover */
    .discover img:hover {
        border: 3px solid #FAC000;
    }

    /* Thanks */
    .thanks {
        grid-column: 1/6;
    }    

    /* Contact */

    .contactjoin {
        grid-column: 1/4;
        padding: 1rem;
        border: bl;
    }

   .contactform {
        grid-column: 4;
    }
}