@media only screen and (min-width: 35em) {

    header {
        display: grid;
        justify-content: inherit;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    /* Multipage coding */
    
    .logo img {
        width: 150px;
    }

    .social {
        grid-column: 2/3;
    }

    .date {
        grid-column: 1/3;
    }

    .social img, .footercontact img {
        width: 40px;
    }

    /* Main */

    .maingrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hero {
        grid-column: 1 / 4;
    }
    

    #news {
        grid-column: 1 / 4;
        grid-row: 2;
        height: 100%;
    }

    #spotlight {
        grid-column: 1 / 4;
        grid-row: 3;
        grid-template-columns: 1fr 1fr;
    }
        
    #join {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #event {
        grid-column: 1 / 3;
        grid-row: 5;
        display: flex;
    }

    #footercopyright {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    /* Discover */
    .stat {
        grid-column: 1/3;
    }


    .discover {
        grid-column: 3/4;
        grid-row: 1/5;
    }

    /* Join */
    .joinform {
        grid-column: 1/6;
        max-width: 60rem;
    }

    
    .formgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }


    /* Discover */
    .discover img:hover {
        border: 1px solid #FAC000;
    }

    /* Thanks */
    .thanks {
        grid-column: 1/6;
    }    

    /* Contact */
    .contactjoin {
        padding: 1rem;
    }
}