@media only screen and (min-width: 35.5em) {
    * {
        font-size: 1em;
    }
    
    .headings h1 {
        font-size: 24px;
    }
    
    picture {
        width: 90%;
        height: auto;
    }

    .navigation {
        justify-content: right;
    }

    .responsive {
        position: relative;
        width: 100px;
    }    

    .boxes {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
        
    #hero {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    #news {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    #spotlight {
        grid-column: 1 / 4;
        grid-row: 3;
        grid-template-columns: 1fr 1fr;
    }
        
    #join {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4;
    }

    #event {
        display: block;
        grid-column: 1 / 3;
        grid-row: 5;
    }

    footer {
        grid-template-columns: 150px 1fr 1fr;
        gap: 10px;
        padding: 15px;
    }

    #footercopyright {
        grid-column: 1 / 4;
        grid-row: 2;
    }
}