* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

#meetandgreet {
    text-align: center;
    width: 100%;
    background-color: #0D350D;
    border: 1px solid #3ACF3A;
    display: none;
    padding: 1rem;
}

.dismiss {
	cursor: default;
}

.navigation a, .responsive, a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

header {
    background-color: #000000;
    display: grid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.headings span {
    font-size: 1.25rem;
}

footer {
    background-color: #000000;
    display: grid;
    padding: 1rem;
}

picture {
    align-self: center;
}

picture img, footer img {
    width: 100%;
    height: auto;
}

.logo img {
    min-width: 7em;
    max-width: 204px;
}

a img {
    width: 35px;
    height: auto;
}

.social {
    grid-column: 4;
}

nav {
    grid-column: 1;
    height: 50px;

}

.date {
    grid-column: 1 / 6;
    grid-row: 2;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: .75rem;
    padding: 1rem;
}

main>section {
    padding: 1rem;
}

#event {
    background-image: url("../images/market.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blackbackground {
    background-color: #000000;
    padding: 1rem;
}

.greenborder {
    border: 3px solid #3ACF3A;
}

#event p, #event h3 {
    border-radius: 10px;
}

#event p a {
    text-decoration: underline;
    text-align: center;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    z-index: 2;
}

.navigation {
    list-style: none;
    text-align: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #FAC000;
    font-weight: 700;
}

.responsive, main>section {
    border: 3px solid #3ACF3A;
}

.date, main>section {
    background-color: #0D350D;
}

.responsive {
    position: relative;
    background-color: #000000;
}

.responsive li {
    display: block;
}

.date {
    margin: 0.5rem;
    padding: 1rem;
}

#hero {
	width: 100%;
	height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    justify-content: center;
}

.heroimage {
    grid-row: 1/3;
}

.herotextoverlay {
    position: absolute;
    right: 150px;
    left: 150px;
}


#herojoin {
	background: #000000;
    border-radius: 10px;
    text-align: center;
	padding: 1rem;
    position: absolute;
    bottom: 31px;
    right: 200px;
    left: 200px;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#join {
    display:none;
}

#joinbutton, #join p, #news h3, #news p {
    position: relative;
    /* Look into a better way of doing this */
	background: #000000;
    border-radius: 10px;
	padding: 1rem;
}

#weatherboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}

.weathertext {
    font-size: 2rem;
    border-bottom: #3ACF3A 1px solid;
    margin: 1rem;

}

.temperaturetext {
    font-size: 3rem;
}

#spotlight {
    display: grid;
    grid-template-columns: 1fr;
    gap: .3rem;
    height: 100%;
    text-align: center;
}

#spotlight>div {
    padding: 1rem;
}

#spotlight>div:nth-child(3) {
    display: none;
}

#spotlight div span {
    border-bottom: #3ACF3A;
}

main section h3, main section p {
    text-align: center;
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: .75rem;
    padding: 1rem;
    text-align: center;
}

footer>img {
    margin: 0 auto;
}
#footercopyright {
    border-top: #3ACF3A 1px solid;
    padding: 1rem;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin: 2rem;
    background-color: #000000;
    border-radius: 1rem;
}

.twocol {
    grid-column: 1/3;
}

hr {
    border: 1px solid #3ACF3A;
}

/* Discover */
.stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.discover {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;    
}

.discover picture {
    justify-content: center;
    background-color: #0D350D;
    padding: 2rem;
}

.discover picture img {
    border: 3px solid #3ACF3A;
}

.discover picture p {
    padding: 1rem;
}

img[data-src] {
	filter: blur(0.5rem);
}

img{
	filter: blur(0);
	transition: filter 1s;
}

/* Join */
form {
    background-color: #0D350D;
    padding: 2rem;
}

form fieldset {
    margin: 1rem;
    border: 1px solid #3ACF3A;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #FFFFFF;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form span {
    color: #3ACF3A;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #FFFFFF;
    border-radius: 4px;
    padding: .75rem;
    color: #ffffff;
    width: 100%;
    max-width: 50rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #ffffff;
}

form input.submitBtn {
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: #3ACF3A solid 6px;
}

textarea {
    width: 95%;
}

/* Thanks */
.thanks {
    background-color: #0D350D;
    padding: 2rem;
    text-align: center;
}    

.thanks img {
    max-width: 500px;
    padding: 1rem;
}
