body {
    font-family: 'Ubuntu', sans-serif;
}

.greenbackground {
    background-color: #00a877;
    color: #FFFFFF;
    font-weight: bolder;
}

caption {
    padding: 1rem;
    font-size: 3rem;

}

table{
    max-width: 40rem;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #999999;
    width: 50%;
    text-align: center;
    border: 1px solid #00a877;
    
  }

th, td{
    font-size: 2rem;
    padding: 1rem;
}

.tealbackground {
    background-color: #3F7D8F;
    color: #FFFFFF;
}

tr:nth-child(odd){
    background-color: #d8e4bc;
}

tr:nth-child(even){
    background-color: #98FB98;
}

tfoot td{
    font-size: .75rem;
}

.italics {
    font-style: italic;
}