@media only screen and (min-width: 70em) {

    body {
        font-size: 1.5rem;
    }

    .headings h1 {
        font-size: 2rem;
    }

    picture {
        width: 100%;
        height: auto;
    }

    a img {
        width: 48px;
        height: auto;
    }
    nav {
        grid-column: 3;
        grid-row: 1;
    }
    
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #hero {
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/3;
        grid-template-columns: 1fr;
        /* background-image: url("../images/wdd230-org - large.jpg"); */
    }

    #herojoin {
        width: 165px;
        height: 100px;
    }    

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #spotlight {
        grid-column: 3;
        grid-row: 1 / 4;
        grid-template-columns: 1fr;
    }

    #spotlight>div {
        height: 100%;
    }
    
    
    #weather {
        font-size: 1.75rem;
    }
        
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #spotlight>div:nth-child(3) {
        display: block;
    }    
}