@media only screen and (min-width: 45em) {
    body {
        font-size: 1.25rem;
    }
    
    .headings h1 {
        font-size: 1.75rem;
    }
    
    picture {
        height: auto;
    }

    a img {
        width: 40px;
        height: auto;
    }
    

    .navigation {
        justify-content: right;
    }

    .responsive {
        position: relative;
        width: 100px;
    }    

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hero {
        grid-column: 1 / 4;
        /* background-image: url("../images/wdd230-org.jpg"); */
    }

    .herotextoverlay {
        margin: 0 auto;
        margin-top: 25px;
        height: 50px;
        grid-column: 1/3;
    }
    

    #news {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    #spotlight {
        grid-column: 1 / 4;
        grid-row: 3;
        grid-template-columns: 1fr 1fr;
    }
        
    #join {
        display: block;
        grid-column: 1 / 4;
        grid-row: 4;
    }

    #event {
        display: block;
        grid-column: 1 / 3;
        grid-row: 5;
    }

    footer {
        grid-template-columns: 150px 1fr 1fr;
    }

    .footeraddress {
        text-align: left;
    }

    #footercopyright {
        grid-column: 1 / 4;
        grid-row: 2;
    }
}