/* CSS styling that takes place in tablet-sized views */
@media only screen and (min-width: 37.5em) {
    main, footer {
        font-size: 1rem;
    }

    header, footer {
        border-radius: 10px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Moved from small */
    }

    main section:nth-child(3){
        grid-column: span 2;
    }

    .headertext {
        font-size: 30px;
    }
}
