* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    display: flex;
    text-align: center;
    color: #0080ff;
    padding: 1rem;
    justify-content: center;
    background-color: #000000;
}

.columns {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 0px 5px;
    border-radius: 10px;
    padding: 10px;
}

.frankatkins, .jimmy {
    background-color: #228b22;
    border-radius: 10px;
	display: block;
	padding: 5px;
	color: #000000;
    text-align: center;
}

.colorcolumn, .fontcolumn, .audiencecolumn {
    background-color: pink;
    border-radius: 10px;
}

main img {
    width: 100%;
    height: auto;
}

nav {
	background-color: #806517;
	max-width: 1060px;
}


nav ul {
    list-style-type: none;
	overflow: hidden;
    padding: 0;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
}

h1, h2, h3, h4, .montserrat {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.roboto, .black, .brown, .green, .blue {
    text-align: center;
}

.black {
    color: #000000;
}

.brown {
    color: #806517;
}

.active {
    color: #228b22
}

.blue {
    color:#0080ff
}

.active {
	color: #000000;
}

h3 {
    border-radius: 10px 10px 0px 0px;
	display: block;
	padding: 5px;
	background-color: #000000;
	color: #FFFFFF;
    text-align: center;
}

h4 {
    border-radius: 10px 10px 0px 0px;
	display: block;
	padding: 5px;
	background-color: #000000;
	color: #FFFFFF;
    text-align: center;
}
